body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f5deb3;
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

main {
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

nav {
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 27px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

section p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#menu ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
    padding: 20px;
	flex: 1 1 200px;
	margin-right: 20px;
	margin-bottom: 20px;
    border-radius: 10px;
	background-color: #f5deb3;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#menu li:last-child {
    margin-right: 0;
}

#menu li:hover {
    transform: translateY(-5px);
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.3);
}

#menu li img {
    height: auto;
	max-width: 100%;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

form label {
    font-weight: bold;
    font-size: 18px;
	flex-basis: 100%;
	margin-bottom: 10px;
}

form input, form textarea {
	padding: 10px;
    flex-basis: 100%;
	border-radius: 5px;
    margin-bottom: 20px;
	border: 1px solid #ccc;
}

form button {
	background-color: #f5deb3;
	border: none;
	color: #333;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
    border-radius: 5px;
	padding: 10px 20px;
}

form button:hover {
	background-color: #f0c8a4;
}

footer {
	color: #fff;
    background-color: #333;
	padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
	font-size: 16px;
	line-height: 1.5;
}

footer a {
	color: #fff;
	text-decoration: underline;
}

footer a:hover {
	color: #f0c8a4;
}